*{
    font-family: 'Roboto Condensed', sans-serif;
}

#mapid {
    height: 100vh;
    width: 100vw;

    display: inline-block;
}

#div_btns{
    position: absolute;
    left: 5vw;
    top: 20vh;
    z-index: +100000000000000000000000;
}

.leaflet-popup-content{
 text-align: center;
}

p{
    margin-bottom: 0!important;
}

a{
    font-style: italic;
    position: relative;
    top: -10px;
}

a:not(hover){
    color: black!important;
    transition: 0.8s ease;
}

a:hover{
    color: deepskyblue!important;
    transition: 0.8s ease;

    text-decoration: none;
}